extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Morbi quis diam augue. Cras nec ipsum quis justo euismod molestie. Duis gravida diam at nibh pellentesque, non finibus diam facilisis. In ex arcu, interdum vitae mattis sit amet, facilisis sed orci. Sed eget molestie velit. Ut aliquam dignissim magna eget volutpat.

                p Quisque eu porttitor lorem. In lorem purus, fermentum quis tristique ac, mollis eget libero. Aliquam tincidunt ligula quis dolor pellentesque dapibus. Nunc a eros tincidunt, rutrum nulla in, pellentesque libero. Donec eget molestie neque. Morbi congue ex et luctus vestibulum. Curabitur vitae tincidunt neque. 

                p Suspendisse eget feugiat massa. Sed in maximus arcu, vel porta risus. Aliquam faucibus quam magna, id consectetur magna mollis a. Quisque egestas augue quis sem blandit, tincidunt tincidunt tellus ullamcorper. Cras in turpis fermentum, ultrices mi eget, tempor turpis. Fusce at dui faucibus, suscipit eros a, commodo magna. Fusce vitae orci sit amet justo iaculis mollis.
    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Cras in turpis fermentum, ultrices mi eget, tempor turpis. Fusce at dui faucibus, suscipit eros a, commodo magna. Fusce vitae orci sit amet justo iaculis mollis.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Cras in turpis fermentum, ultrices mi eget, tempor turpis. Fusce at dui faucibus, suscipit eros a, commodo magna. Fusce vitae orci sit amet justo iaculis mollis.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Cras in turpis fermentum, ultrices mi eget, tempor turpis. Fusce at dui faucibus, suscipit eros a, commodo magna. Fusce vitae orci sit amet justo iaculis mollis.